
<!-- Just an image -->
<nav class="navbar navbar-light bg-dark">
  
      <img src="/assets/cc.jpg">
   
 

<ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/categorie">Categorie</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/cart">cart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link "routerLink="/addproduct">add product</a>
    </li>
  
  
  </ul>
</nav>
